<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <!-- <app-postcrud></app-postcrud> -->
            <!-- <app-todocrud></app-todocrud> -->
            <!-- <app-studentcrud></app-studentcrud> -->
            <!-- <app-tab></app-tab> -->
            <!-- <app-tab-for></app-tab-for>
<app-tabs></app-tabs>
<app-food></app-food>
<app-newfood></app-newfood>
<app-cars></app-cars> -->
            <!-- <app-productcrud></app-productcrud> -->
            <!-- <app-studentscrudtest></app-studentscrudtest> -->
             <app-tab-switch></app-tab-switch>

            <!-- 
<p class="alert alert-info" *ngIf="value==5">1 Value is 5</p>
<p class="alert alert-info" *ngIf="value==10">2 Value is 10</p>
<p class="alert alert-info" *ngIf="value==15">3 Value is 15</p>
<p class="alert alert-info" *ngIf="value !=5 && value !=10 && value !=15">Value is anything apart form 5,10 or 15</p> -->


            <!-- <div [ngSwitch]="value">
                <p *ngSwitchCase="5" class="alert alert-info">1 Value is 5</p>
                <p *ngSwitchCase="10" class="alert alert-info">2 Value is 10</p>
                <p *ngSwitchCase="15" class="alert alert-info">3 Value is 15</p>
                <p *ngSwitchDefault class="alert alert-info">4 value is anything form 5,10 or 15</p>
            </div> -->

        </div>
    </div>
</div>