<!-- <p>studentcrud works!</p> -->

<h1>Student Crud</h1>
<div class="container">
    <div class="row">
        <div class="col-md-8 md-4 mb-md-0 d-flex justify-content-between align-items-center">
            <div class="main-container">
                <table class="student-table">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input #studentname type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="name">Age</label>
                        <input #studentage type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="name">Course</label>
                        <input #studentcourse type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <button (click)="Onadd()" *ngIf="!isInEditMode" class="btn btn-block btn-outline-primary">Add
                            Student</button>
                    </div>
                    <div class="form-group">
                        <button (click)="OnUpdate()" *ngIf="isInEditMode"
                            class="btn btn-block btn-outline-primary">Update Student</button>
                    </div>
                </table>
            </div>
            <div class="col-md-8">
                <table class="table table-bordered" *ngIf="studentsArr.length>0;else noStudent">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>name</th>
                            <th>age</th>
                            <th>course</th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let std of studentsArr; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{std.name}}</td>
                            <td>{{std.age}}</td>
                            <td>{{std.course}}</td>
                            <td>
                                <button (click)="OnEdit(std)"
                                    class="btn btn-outline-primary btn-block btn-sm">Edit</button>
                            </td>
                            <td>
                                <button (click)="OnRemove(std.id)"
                                    class="btn btn-outline-danger btn-block btn-sm">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <ng-template #noStudent>
                    <p class="alert alert-info">No Student data added yet !!!</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>